/* style.css */

div.container {
    width: 100%;
    border: 1px solid gray;
}

header {
    padding: 10px;
    color:  white;
    background-color: navy;
    clear: left;
    text-align: center;
}

div.banner {
    padding: 20px;
    color:  navy;
    background-color: white;
    clear: left;
    text-align: center;
}

section {
    height: 350px;
    text-align: center;
    margin: 30px;
}

div.card {
    height: 180px;
    width: 30%;
    text-align: center;
    padding: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
    border: 1px solid navy;
    float: left;
}

div.cardcollection {
    padding: 0px;
    margin-right: 30px;
}

footer {
    padding: 10px;
    color: white;
    background-color: navy;
    clear: left;
    text-align: center;
}