/* style.css */

div.container {
    width: 100%;
}

header {
    padding: 10px;
    color:  white;
    background-color: navy;
    clear: left;
    text-align: center;
}

div.banner {
    padding: 20px;
    color:  navy;
    background-color: white;
    clear: left;
    text-align: center;
}

section {
    text-align: center;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

div.card {
    height: 180px;
    width: 30%;
    text-align: center;
    padding: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
    border: 1px solid navy;
    float: left;
}

div.cardcollection {
    padding: 0px;
    margin-right: 30px;
}

footer {
    padding: 10px;
    color: white;
    background-color: navy;
    clear: left;
    text-align: center;
}

th.task-header {
    text-align: center;
    vertical-align: center;
    font-weight: bold;
    background-color: aliceblue;
}

div.task-name {
    font-size: medium;
}

div.task-description {
    font-size: small;
}

.table > tbody > tr > td.task-detail {
    text-align: left;
}

.table > tbody > tr > td.task-priority {
    vertical-align: middle;
}

.table > tbody > tr > td.task-priority-edit {
    vertical-align: top;
}

.table > tbody > tr > td.task-status {
    vertical-align: middle;
}

.table > tbody > tr > td.task-status-edit {
    vertical-align: top;
}